version: '3.8'

# 1. ÂNCORA DE JWT (Lê do arquivo .env)
x-jwt-config: &jwt-config
  SAFEVISION_JWT_SECRET: "${JWT_SECRET}"

services:
  # --- INFRAESTRUTURA ---
  
  # ZIPKIN (Rastreamento)
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - safevision-net

  # RABBITMQ (Mensageria)
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit log_levels [{connection,debug},{channel,debug}]"
    networks:
      - safevision-net

  # POSTGRES (Banco de Dados)
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - safevision-net

  # NOVO: MINIO (Object Storage - S3 Compatible)
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Console Web
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - safevision-net

  # EUREKA (Service Discovery)
  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    volumes:
      - ./logs:/var/logs
    networks:
      - safevision-net

  # ----------------------------------------------------

  # --- AGENTE DE VISÃO (PYTHON) ---
  vision-agent:
    build: ./vision-agent
    container_name: vision-agent
    ports:
      - "5000:5000"
    environment:
      # RabbitMQ
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USERNAME: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASS}
      VISION_QUEUE_NAME: ${QUEUE_RAW}
      QUEUE_VISION_CONFIGURATION: ${QUEUE_VISION_CONFIGURATION}
      CAMERA_URL: ${CAMERA_URL}
      
      # NOVO: Configuração do MinIO (S3)
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET_NAME}
      MINIO_EXTERNAL_PREFIX: ${MINIO_EXTERNAL_URL}
      
    depends_on:
      - rabbitmq
      - minio # Aguarda o Storage subir
    networks:
      - safevision-net

  # ----------------------------------------------------

  # --- MICROSSERVIÇOS JAVA ---
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8080"
    volumes:
      - ./logs:/var/logs
    environment:
      SPRING_APPLICATION_NAME: auth-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      <<: *jwt-config
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USERNAME: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASS}
    depends_on:
      - postgres
      - eureka-server
      - rabbitmq
      - zipkin
    networks:
      - safevision-net

  alert-service:
    build: ./alert-service
    container_name: alert-service
    ports:
      - "8082:8080"
    volumes:
      - ./logs:/var/logs
    environment:
      SPRING_APPLICATION_NAME: alert-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      <<: *jwt-config
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USERNAME: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASS}
      ALERTS_QUEUE_NAME: ${QUEUE_ALERTS}
      TELEPHONY_ACCOUNT_SID: ${TWILIO_SID}
      TELEPHONY_AUTH_TOKEN: ${TWILIO_TOKEN}
      TELEPHONY_FROM_NUMBER: ${TWILIO_FROM_NUMBER}
      ALERT_PHONE_NUMBER: ${MY_PHONE_NUMBER}
    depends_on:
      - eureka-server
      - postgres
      - rabbitmq
      - zipkin
    networks:
      - safevision-net

  recognition-service:
    build: ./recognition-service
    container_name: recognition-service
    ports:
      - "8083:8080"
    volumes:
      - ./logs:/var/logs
    environment:
      SPRING_APPLICATION_NAME: recognition-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      <<: *jwt-config
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USERNAME: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASS}
      VISION_QUEUE_NAME: ${QUEUE_RAW}
      ALERTS_QUEUE_NAME: ${QUEUE_ALERTS}
    depends_on:
      - eureka-server
      - rabbitmq
      - zipkin
    networks:
      - safevision-net

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/var/logs
    environment:
      SPRING_APPLICATION_NAME: gateway-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      <<: *jwt-config
      SAFEVISION_SERVICES_AUTH: lb://auth-service
      SAFEVISION_SERVICES_ALERT: lb://alert-service
      SAFEVISION_SERVICES_RECOGNITION: lb://recognition-service
    depends_on:
      - eureka-server
      - auth-service
      - alert-service
      - recognition-service
      - zipkin
    networks:
      - safevision-net

# VOLUMES
volumes:
  postgres_data:
  minio_data: # Novo volume para guardar as fotos

networks:
  safevision-net:
    driver: bridge