server:
  port: 8080

spring:
  application:
    name: alert-service

  # mail:
  #   host: smtp.gmail.com
  #   port: 587
  #   username: your.email@gmail.com
  #   password: your_app_specific_password
  #   properties:
  #     mail:
  #       smtp:
  #         auth: true
  #         starttls:
  #           enable: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
	internal:

token: ${INTERNAL_TOKEN:default-internal-token}