server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
    circuitbreaker:
      configs:
        default:
          slidingWindowType: COUNT_BASED
          slidingWindowSize: 10
          failureRateThreshold: 50
          waitDurationInOpenState: 5s
          permittedNumberOfCallsInHalfOpenState: 3
          recordExceptions:
            - org.springframework.web.client.ResourceAccessException
            - java.io.IOException

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
    enabled: true
    register-with-eureka: true
    fetch-registry: true

resilience4j:
  circuitbreaker:
    instances:
      authServiceCircuitBreaker:
        baseConfig: default
      alertServiceCircuitBreaker:
        baseConfig: default
      recognitionServiceCircuitBreaker:
        baseConfig: default
    configs:
      default:
        slidingWindowSize: 10

# --- CONFIGURAÇÃO ZIPKIN E METRICAS ---
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  tracing:
    sampling:
      probability: 1.0 # 100% de amostragem para Dev
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"

metrics:
    tags:
      application: ${spring.application.name}

safevision:
  services:
    auth: ${SAFEVISION_SERVICES_AUTH:lb://AUTH-SERVICE}
    alert: ${SAFEVISION_SERVICES_ALERT:lb://ALERT-SERVICE}
    recognition: ${SAFEVISION_SERVICES_RECOGNITION:lb://RECOGNITION-SERVICE}
  
  jwt:
    secret: ${SAFEVISION_JWT_SECRET:segredo_padrao_apenas_para_desenvolvimento_local_sem_docker}

logging:
  file:
    name: /var/logs/${spring.application.name}.log 
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
  level:
    root: INFO
    com.safevision: DEBUG