server:
  port: 8080 

spring:
  application:
    name: alert-service

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}      
    port: 5672
    username: ${RABBITMQ_USERNAME:user}
    password: ${RABBITMQ_PASSWORD:password}
    queues:
      alerts: ${ALERTS_QUEUE_NAME:safevision.alerts.queue}

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/safevision}
    username: ${SPRING_DATASOURCE_USERNAME:user}
    password: ${SPRING_DATASOURCE_PASSWORD:pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

# --- CONFIGURAÇÃO ZIPKIN E METRICAS ---
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  tracing:
    sampling:
      probability: 1.0 
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

safevision:
  jwt:
    secret: ${SAFEVISION_JWT_SECRET:segredo_padrao_apenas_para_desenvolvimento_local_sem_docker}

telephony:
  account-sid: ${TELEPHONY_ACCOUNT_SID} 
  auth-token: ${TELEPHONY_AUTH_TOKEN}   
  from-number: ${TELEPHONY_FROM_NUMBER}
  to-number: ${ALERT_PHONE_NUMBER}
  base-url: https://api.twilio.com/2010-04-01/Accounts/${TELEPHONY_ACCOUNT_SID}/Messages.json

logging:
  file:
    name: /var/logs/${spring.application.name}.log 
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
  level:
    root: INFO
    com.safevision: DEBUG 
    org.springframework.amqp: INFO